<div>
    <p>{{test}}</p>
</div>
<input type="text" id="FirstName" placeholder="First Name">
<input type="text" id="LastName" placeholder="Last Name">
<input type="text" id="username" placeholder="Username">
<input type="text" id="email" placeholder="Email">
<input type="text" id="password" placeholder="Password">
<input type="text" id="ConfirmPassword" placeholder="Confirm Password"
<input type="button" value="Sign Up" class="btn-default" ng-click="signUp()">
<a href="#!/login">Log In</a>